<!DOCTYPE html>
<html lang="en" data-theme="forest">
<head>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css" rel="stylesheet" type="text/css" />
    <meta charset="UTF-8">
    <title>Formulário</title>
</head>
<body>
<!-- Header -->
<div th:replace="~{fragments/layout :: header}"></div>

<h1 class="text-2xl font-bold text-primary p-8">Cadastrar Pátio</h1>
<main class="grid place-items-center gap-4 p-8">
    <form class="w-full max-w-md" method="post" th:action="@{/patio/formPatio}" th:object="${patio}">
        <input type="hidden" th:field="*{id}" />


        <fieldset class="fieldset">
            <legend class="fieldset-legend" th:text="#{patio.nome}"></legend>
            <input th:field="*{nome}" th:errorclass="input-error" type="text" class="input" />
            <p class="label text-error" th:errors="*{nome}"></p>
        </fieldset>

        <fieldset class="fieldset">
            <legend class="fieldset-legend" th:text="#{patio.endereco}"></legend>
            <input th:field="*{endereco}" th:errorclass="input-error" type="text" class="input"/>
            <p class="label text-error" th:errors="*{endereco}"></p>
        </fieldset>

        <fieldset class="fieldset">
            <legend class="fieldset-legend" th:text="#{patio.capacidade}"></legend>
            <input th:field="*{capacidadeMaxima}" th:errorclass="input-error" type="number" class="input" />
            <p class="label text-error" th:errors="*{capacidadeMaxima}"></p>
        </fieldset>

        <fieldset class="fieldset">
            <legend class="fieldset-legend"th:text="#{patio.cidade}"></legend>
            <input th:field="*{cidade}" th:errorclass="input-error" type="text" class="input" />
            <p class="label text-error" th:errors="*{cidade}"></p>
        </fieldset>

        <fieldset class="fieldset">
            <legend class="fieldset-legend"th:text="#{patio.estado}"></legend>
            <input th:field="*{estado}" th:errorclass="input-error" type="text" class="input" />
            <p class="label text-error" th:errors="*{estado}"></p>
        </fieldset>

        <fieldset class="fieldset">
            <legend class="fieldset-legend"th:text="#{patio.pais}"></legend>
            <input th:field="*{pais}" th:errorclass="input-error" type="text" class="input"/>
            <p class="label text-error" th:errors="*{pais}"></p>
        </fieldset>

        <fieldset class="fieldset">
            <legend class="fieldset-legend" th:text="#{patio.dimensao}"></legend>
            <input th:field="*{dimensaoX}" type="number" step="0.1" th:errorclass="input-error" class="input" />
            <p class="label text-error" th:errors="*{dimensaoX}"></p>
            <input th:field="*{dimensaoY}" type="number" step="0.1" th:errorclass="input-error" class="input mt-2"/>
            <p class="label text-error" th:errors="*{dimensaoY}"></p>
        </fieldset>

        <div class="space-x-4 mt-4">
            <a href="/patio" class="btn btn-neutral" th:text="#{cancel}"></a>
            <button type="submit" class="btn btn-primary" th:text="#{save}"></button>
        </div>
    </form>
</main>


</body>
</html>