<!DOCTYPE html>
<html lang="en" data-theme="forest">
<head>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css" rel="stylesheet" type="text/css" />
    <meta charset="UTF-8">
    <title>Formulário</title>
</head>
<body>
<!-- Header -->
<div th:replace="~{fragments/layout :: header}"></div>

<h1 class="text-2xl font-bold text-primary p-8">Cadastrar Evento de Moto</h1>
<main class="grid place-items-center gap-4 p-8">
    <form class="w-full max-w-md" method="post" th:action="@{/evento/formEvento}" th:object="${evento}">

        <fieldset class="fieldset">
            <legend class="fieldset-legend" th:text="#{evento.tipo}"></legend>
            <input th:field="*{tipo}" th:errorclass="input-error" type="text" class="input"/>
            <p class="label text-error" th:errors="*{tipo}"></p>
        </fieldset>

        <fieldset class="fieldset">
            <legend class="fieldset-legend" th:text="#{evento.data}"></legend>
            <input th:field="*{timesTamp}" th:errorclass="input-error" type="datetime-local" class="input"/>
            <p class="label text-error" th:errors="*{timesTamp}"></p>
        </fieldset>

        <fieldset class="fieldset">
            <legend class="fieldset-legend" th:text="#{evento.observacao}"></legend>
            <textarea th:field="*{observacao}" th:errorclass="textarea-error" class="input"></textarea>
            <p class="label text-error" th:errors="*{observacao}"></p>
        </fieldset>

        <fieldset class="fieldset">
            <legend class="fieldset-legend" th:text="#{evento.fonte}"></legend>
            <select th:field="*{fonteEvento}" th:errorclass="select-error" class="select select-bordered" required>
                <option th:each="fonte : ${fonteEvento}" th:value="${fonte}" th:text="${fonte}"></option>
            </select>
            <p class="label text-error" th:errors="*{fonteEvento}"></p>
        </fieldset>

        <div class="space-x-4 mt-4">
            <a href="/evento" class="btn btn-neutral" th:text="#{cancel}"></a>
            <button type="submit" class="btn btn-primary" th:text="#{save}"></button>
        </div>
    </form>
</main>
</body>
</html>