<!DOCTYPE html>
<html lang="en" data-theme="forest">
<head>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css" rel="stylesheet" type="text/css" />
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <title>Track in</title>
</head>
<body>
<div th:fragment="menuContent">
    <ul class="menu bg-base-200 rounded-box w-56">
        <li>
            <a href="/moto">Dashboard</a>
        </li>
        <li>
            <a href="/evento">Eventos</a>
        </li>
        <li>
            <a href="/patio">Patio</a>
        </li>
        <li>
            <a href="/zonaPatio">Zona de patio</a>
        </li>
    </ul>
</div>

</body>
</html>