<!DOCTYPE html>
<html lang="en" data-theme="forest">
<head>
    <meta charset="UTF-8">
    <title>Evento</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css" rel="stylesheet" type="text/css" />
</head>
<body class="flex flex-col min-h-screen">
<!-- Header -->
<div th:replace="~{fragments/layout :: header}"></div>

<div class="flex-grow">

    <!-- Conteúdo -->
    <div class="container mx-auto p-6 space-y-8">
        <div th:if="${message}" role="alert" class="alert alert-success alert-soft m-4">
            <span th:text="${message}"></span>
        </div>

        <div class="flex items-center justify-between">
            <h1 class="text-2xl font-bold" th:text="#{evento.dashboard.title}"></h1>
            <div class="flex gap-2">
                <a href="/evento/formEvento" class="btn btn-primary btn-sm" th:text="#{evento.new}"></a>
            </div>
        </div>

        <!-- Indicadores -->
        <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
            <div class="card bg-primary text-primary-content p-4">
                <h2 class="text-lg font-bold" th:text="#{evento.totalEventos}"></h2>
                <p class="text-2xl font-bold" th:text="${totalEventos}">0</p>
            </div>

            <div class="card bg-neutral p-4">
                <h2 class="text-lg font-bold" th:text="#{evento.ultimoEvento}"></h2>
                <p class="text-sm" th:text="${ultimoEvento != null ? ultimoEvento.tipo : '--'}">--</p>
            </div>
        </div>


        <!-- Lista de eventos -->
        <div class="card bg-base-100 shadow-md">
            <div class="flex items-center justify-between p-4 border-b border-base-200">
                <h2 class="text-2xl font-bold text-primary p-4" th:text="#{evento.title}"></h2>
            </div>
            <ul class="p-4 space-y-2">
                <li th:each="evento : ${eventos}"
                    class="flex items-center justify-between p-3 bg-base-200 rounded-md shadow-sm">
                    <div>
                        <div class="font-semibold" th:text="${evento.tipo}"></div>
                        <div class="text-xs opacity-70" th:text="${evento.timesTamp}"></div>
                        <div class="text-xs opacity-50">
                            <span th:text="#{evento.fonte}"></span>:
                            <span th:text="${evento.fonteEvento}"></span>
                        </div>

                        <div class="text-xs opacity-50">
                            <span th:text="#{evento.observacao}"></span>:
                            <span th:text="${evento.observacao}"></span>
                        </div>
                    </div>
                    <div class="flex gap-2">
                        <a th:href="@{'/evento/formEvento/' + ${evento.id}}" class="btn btn-sm btn-ghost" th:text="#{edit}"></a>
                        <form method="post" th:action="${'/evento/' + evento.id}">
                            <input type="hidden" name="_method" value="DELETE" />
                            <button class="btn btn-sm btn-ghost" th:text="#{delete}"></button>
                        </form>
                    </div>
                </li>
            </ul>
        </div>

    </div>
</div>

<!-- Footer -->
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>
