<!DOCTYPE html>
<html lang="en" data-theme="forest">
<head>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css" rel="stylesheet" type="text/css" />
    <meta charset="UTF-8">
    <title>Track in</title>
</head>
<body class="flex flex-col min-h-screen">
<!-- Header -->
<div th:replace="~{fragments/layout :: header}"></div>

<!-- Conteúdo principal -->
<div class="flex-grow">

        <div class="flex-grow">
            <div class="container mx-auto space-y-8 p-6">

                <div th:if="${message}" role="alert" class="alert alert-success alert-soft m-4">
                    <span th:text="${message}"></span>
                </div>

                <div class="flex items-center justify-between">
                    <h1 class="text-2xl font-bold">Dashboard geral</h1>
                    <div class="flex gap-2">
                        <a href="/evento" class="btn btn-primary btn-sm">Cadastrar Evento</a>
                    </div>
                </div>

                <!-- Indicadores -->
                <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
                    <div class="card bg-base-100 shadow-lg border-2 border-primary p-4">
                        <h2 class="text-lg font-bold">Motos Cadastradas</h2>
                        <p class="text-2xl font-bold" >0</p>
                    </div>
                    <div class="card bg-base-100 shadow-lg border-2 border-primary p-4">
                        <h2 class="text-lg font-bold">Eventos Registrados</h2>
                        <p class="text-2xl font-bold">0</p>
                    </div>
                    <div class="card bg-base-100 shadow-lg border-2 border-primary p-4">
                        <h2 class="text-lg font-bold">Motos em Manutenção</h2>
                        <p class="text-2xl font-bold">0</p>
                    </div>
                    <div class="card bg-base-100 shadow-lg border-2 border-primary p-4">
                        <h2 class="text-lg font-bold">Último Evento</h2>
                        <p class="text-sm">--</p>
                    </div>
                </div>

                <!-- Últimos Eventos -->
                <div class="card bg-base-100 shadow-md">
                    <div class="flex items-center justify-between p-4 border-b border-base-200">
                        <h2 class="card-title text-lg font-bold">Últimos Eventos Registrados</h2>
                    </div>
                    <ul class="p-4 space-y-2">
                        <li class="flex items-center justify-between p-3 bg-base-200 rounded-md shadow-sm">
                        <div>
                            <div class="font-semibold">Tipo Evento</div>
                            <div class="text-xs opacity-70">00/00/0000</div>
                            <div class="text-xs opacity-50">
                                Moto: <span >ABC-1234</span>
                            </div>
                        </div>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>


    <!-- Lista de motos -->
    <div class="card bg-base-100 shadow-md w-full">
        <div class="flex items-center justify-between p-4 border-b border-base-200">
            <h2 class="text-2xl font-bold text-primary p-4">Motos Cadastradas</h2>
            <a href="moto/formMoto" class="btn btn-sm btn-primary ">Cadastrar Nova Moto</a>
        </div>
        <ul class="list bg-base-100 rounded-b-box p-4 space-y-2">
            <li th:each="moto : ${motos}" class="flex items-center justify-between p-3 bg-base-200 rounded-md shadow-sm">
                <div>
                    <div class="font-semibold" th:text="${moto.placa}"></div>
                    <div class="text-xs uppercase font-semibold opacity-60" th:text="${moto.modelo}"></div>
                    <div class="text-xs uppercase font-semibold opacity-60" th:text="${moto.ano}"></div>
                    <div class="text-xs uppercase font-semibold opacity-60" th:text="${moto.caracteristicasVisuais}"></div>
                    <div class="text-xs uppercase font-semibold opacity-60" th:text="${moto.dataAquisicao}"></div>
                    <div class="text-xs uppercase font-semibold opacity-60" th:text="${moto.rfidTag}"></div>
                    <div class="text-xs uppercase font-semibold opacity-60" th:text="${moto.statusMoto}"></div>
                    <div class="text-xs uppercase font-semibold opacity-60" th:text="${moto.ultimaManutencao}"></div>
                </div>
                <div class="flex gap-2">
                    <a href="#" class="btn btn-sm btn-ghost">Editar</a>
                    <form method="post" th:action="${'/moto/' + moto.id}">
                        <input type="hidden" name="_method" value="DELETE" />
                        <button class="btn btn-sm btn-ghost" >apagar</button>
                    </form>
                </div>
            </li>
        </ul>
        <div class="join">
            <button class="join-item btn">«</button>
            <button class="join-item btn">Page 22</button>
            <button class="join-item btn">»</button>
        </div>
    </div>

</div>



<!-- Footer -->
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>