<!DOCTYPE html>
<html lang="en" data-theme="forest">
<head>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css" rel="stylesheet" type="text/css" />
    <meta charset="UTF-8">
    <title>Patio</title>
</head>
<body class="flex flex-col min-h-screen">
<!-- Header -->
<div th:replace="~{fragments/layout :: header}"></div>

<div class="flex-grow">

    <!-- Conteúdo Principal-->
    <div class="container mx-auto p-6 space-y-8">

        <div th:if="${message}" role="alert" class="alert alert-success alert-soft m-4">
            <span th:text="${message}"></span>
        </div>

        <div class="flex items-center justify-between">
            <h1 class="text-2xl font-bold" th:text="#{patio.dashboard.title}"></h1>
            <div class="flex gap-2">
                <a href="/patio/formPatio" class="btn btn-primary btn-sm" th:text="#{patio.new}"></a>
            </div>
        </div>

        <!-- Cards dos patios-->
        <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 gap-6">
            <div th:each="patio : ${patios}"
            class="card bg-base-100 shadow-lg border-2 border-primary p-4 flex flex-col justify-between">

            <div>
                    <h2 class="text-lg text-primary font-bold" th:text="${patio.nome}"></h2>
                    <h2 class="text-lg text-primary font-bold" th:text="${patio.id}"></h2>
                    <p th:text="${motosPorPatio[patio.id] ?: 0} + ' / ' + patio.capacidade" th:text="#{patio.totalMotos}"></p>
                    <p class="text-sm opacity-70" th:text="${patio.endereco}"></p>
                    <p class="text-sm opacity-70">
                        <span th:text="${patio.cidade}" th:text="#{patio.cidade}"></span> -
                        <span th:text="${patio.estado}" th:text="#{patio.estado}"></span>
                    </p>
                    <p class="text-sm opacity-50">País: <span th:text="${patio.pais}" th:text="#{patio.pais}"></span></p>
                    <p class="text-sm opacity-50" th:text="#{patio.dimensao}">
                        <span th:text="${patio.dimensaoX}">0</span> x
                        <span th:text="${patio.dimensaoY}">0</span>
                    </p>
                <div class="mt-4 flex justify-end">
                    <a th:href="@{'/patio/formPatio/' + ${patio.id}}" class="btn btn-sm btn-ghost" th:text="#{edit}"></a>
                    <form method="post" th:action="${'/patio/' + patio.id}">
                        <input type="hidden" name="_method" value="DELETE" />
                        <button class="btn btn-sm btn-ghost" th:text="#{delete}"></button>
                    </form>
                </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- Footer -->
<div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>